body {
    background-color: #eeeeee;
}

.contact-intro {
    text-align: center;
    align-items: center;

    &__title {
        margin-bottom: 25px;
    }

    &__paragraph:last-child {
        margin-bottom: 50px;
    }

    &__paragraph__span {
        font-weight: bold;
    }
}

.contact__container {
    text-align: center;
    margin-left: 20%;
}

.contact__fieldset {
    width: 80%;
    background-color: white;
    border: 2px solid black;

    &__legend {
        font-size: 12px;
        text-align: left;
        margin-left: 20px;
        border-radius: 3px;
        background-color: #800080;
        border: 2px solid black;
        color: white;
    }
}

.form-contact {
    display: block;

    &__telefono {
        display: flex;  
        justify-content: center;

        &__label {
            width: 20%;
        }

        &__input {
            width: 35%;
        }

        @media (max-width: 500px) {
            display: block;

            &__label {
                width: 100%;
            }

            &__input {
                width: 100%;
            }
        }
    }

    &__label {
        display: flex;
        justify-content: center;
        font-weight: bold;  
    }

    &__input {
        border: none;
        border-bottom: 1px solid black;
        width: 50%;
        margin-bottom: 25px;

        &:focus:placeholder-shown {
            height: 25px;
            border: 2px solid black;
            box-shadow: 8px 3px 3px #800080;
        }

        &__textarea {
            width: 50%;
        }
    }

    &__button {
        display: block;
        margin-left: 48%;
        padding: 3px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #eeeeee;
    }

}

.icons-container {
    display: flex;
    position: relative;
    width: 300px;
    height: 85px;
    left: 74%;
    margin-top: 100px;
    z-index: 1;

    &__whatsapp {
        margin-left: 20px;
        
    }

    &__ubicacion {
        margin-left: 20px;
    }

    &__btn {
        border: none;

        &:hover {
            scale: 1.2;
        }
    }

    @media (max-width: 1279px) {
        
        & {
            margin: 0;
            margin-top: 15px;
            left: 45vw;
        }
    }

    @media (max-width: 768px) {
        
        & {
            left: 35vw;
        }
    }

    @media (max-width: 480px) {
        
        & {
            display: none;
        }
    }
}